
# GeneXA will work in demo mode without a database

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=12345
DB_NAME=gene_expression_db

APP_ENV=development
LOG_LEVEL=INFO
DEMO_MODE=true

# Optional: get a free key at https://www.ncbi.nlm.nih.gov/account/
NCBI_API_KEY=a64d0500928b2bcaf4205bc819a31a15bf08
